@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: 'Itim', sans-serif;
}

.textstroke {
    color: #2D4059;
    text-shadow: 2px 2px white,
        2px 0 white,
        2px -2px white,
        0 -2px white,
        -2px -2px white,
        -2px 0 white,
        -2px 2px white,
        0 2px white;
    font-size: 50px;
    font-weight: bold;
}

.btn-color {
    background-color: #FFD460;
    border: 13px solid #EA5455;
    border-radius: 40px;
}
.btn-shadow{
    box-shadow: 5px 10px 10px;
}
.inp-color {
    background-color: white;
    border: 13px solid #EA5455;
    border-radius: 40px;
}

.round-btn {
    background-color: #FFD460;
    border: 13px solid #EA5455;
    border-radius: 80px;
}
.feedback-text-color{
    color: #EA5455;
    font-size: 25px;
}
.exit-btn {
    width: 80px;
    height: 80px;
    right: -50px;
    top: 0;
    background-color: #EA5455;
    border: 5px solid #EA5455;
    border-radius: 100px;
    font-size: 50px;
    color: white;
}
.ent-color {
    background-color: white;
    border: 8px solid #EA5455;
    border-radius: 40px;
}
.text-size{
    font-size: 35px;
}
@media all and (max-width:992px) {
    .back-btn{
        left: 0;
        top: -50px;
        scale: 0.4;
        margin-top: 0px;
        margin-left: 0px;
    }
    }

@media all and (max-width:630px) {
    .textstroke{
        font-size: 30px;
        text-align: center;
    }
    .back-btn{
        left: -20px;
        top: -50px;
        scale: 0.4;
        margin-top: 0px;
        margin-left: 0px;
    }
    .inp-color{
        border: 5px solid #EA5455;
    }
    .round-btn {
        border: 5px solid #EA5455;
    }
    .ent-color{
        border: 3px solid #EA5455;
    }
    }

