.textstroke {
    color: #2D4059;
    -webkit-text-stroke: 1.5px white;
    font-size: 50px;
    font-weight: bold;
}

.btn-color {
    background-color: #FFD460;
    border: 13px solid #EA5455;
    border-radius: 40px;
}
.btn-shadow{
    
}
.inp-color {
    background-color: white;
    border: 13px solid #EA5455;
    border-radius: 40px;
}

.round-btn {
    background-color: #FFD460;
    border: 13px solid #EA5455;
    border-radius: 80px;
}
.feedback-text-color{
    color: #EA5455;
    font-size: 25px;
}
.exit-btn {
    width: 80px;
    height: 80px;
    right: -50px;
    top: 0;
    background-color: #EA5455;
    border: 5px solid #EA5455;
    border-radius: 100px;
    font-size: 50px;
    color: white;
}
.ent-color {
    background-color: white;
    border: 8px solid #EA5455;
    border-radius: 40px;
}
